body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
ol, ul{
    padding-left: 30px;
}
.board-row:after{
    clear: both;
    content:"";
    display: table;
}
.status{
    margin-bottom:10px;
}
.square{
    background:#fff;
    border: 1px solid #999;
    float: left;
    font-size:24px;
    font-weight:bold;
    line-height:34px;
    height:34px;
    margin-right:-1px;
    margin-top:-1px;
    padding:0;
    text-align:center;
    width:34px;
}

.square-dark{
    background:#efefef;
}

.square:focus{
    outline:none;
}

.kbd-navigation .square:focus{
    background: #ddd;
}

.game{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.game-info{
    margin-left:20px;
}

.winbox{
    background-color: green;
    color: white;
}

.input-field{
    margin-top:15px;
    width:100%;
}

.sizeinput{
    display:block;
}

.mrg-top{
    margin-top:15px;
}

.cinema-list{
    margin-top:15px;
}
.cinema-list > label {
    font-size:15px;
    font-weight:bold;
}
.simple-form label{
    display: block;
}
#simple-form-debug-box{
    margin-top:10px;
}
#simple-form-debug-box > div{
    color: #f00;
}
